#main-screen, #main-roulette {
    position: relative;
    width: 100%;
    text-align: center;
}

/* Make the image responsive */
#main-screen img {
    height: auto;
}

/* Style the button and place it in the middle of the container/image */
#main-screen .btn {
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
}

.roulette_container {
    position: absolute;
    left: 725px;
    top: 370px;
    overflow: hidden;
    height: 100px;
    border: 1px solid;
    padding: 20px;
}

.btn-1 {
    top: 72%;
    left: 43%;
}

.btn-2 {
    top: 72%;
    left: 62%;
}

.btn-main {
    top: 72%;
    left: 50%;
}

.roulette {
    position: relative;
    height: 64px!important;
    width:56px!important;
    transform: translate(0px, 0px);
    display: inline-block;
}

.roulette img {
    display: block;
    margin-right: 2px;
}

.btn_container {
    position: absolute;
    top: 340px;
    left: 1500px;
    width: 150px;
}

button.btn.btn-large {
    width: 150px;
    height: 80px;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 2px;
}

.customer {
    position: absolute;
    top: 550px;
    left: 35%;
    font-size: 30px;
    width: 660px;
    height: 200px;
}

.name {
    margin-bottom: 10px;
}

span#c-name {
    font-weight: bold;
    font-size: 25px;
    color: #ff0000;
}

span#c-orderId {
    color: #ff0000;
}
.home-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 25px;
    margin-top: 25px;
    width: 100px;
    height: 60px;
    font-size: 30px;
}
.customer span {
    color: #005aab;
}
.deactive {
    opacity:0.5;
}

div#info {
    width: 70%;
    float: left;
    text-align: left;
    padding-left: 50px;
}
.avatar {
    width: 30%;
    float: right;
    border-radius: 50%;
}
img#c-avatar {
    width: 100%;
    border-radius: 50%;
}
img#main-gift {
    height: 300px;
    display: block;
    margin: auto;
}
select#select-gift {
    width: 700px;
    /*     height: 45px; */
    font-size: 35px;
    padding:10px;
    box-sizing:border-box;
}